<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        #iframe-container {
            height: 100%;
            width: 100%;
        }

        #iframe {
            box-sizing: border-box; /* make the border size be included in the height */
            display: block; /* make them block to fix white space margin */
            width: 100%;
        }
    </style>
</head>
<body>
<div>This is above the iframe</div>

<div id="iframe-container">
    <!-- Name of the iframe must be set to classFrame, otherwise apidoc functionality won't work (search bar for example). -->
    <iframe id="iframe"
            th:src="${url}" onLoad="changeBrowserUrl(this.contentWindow.location);"
            name="classFrame"></iframe>
</div>

<script>
    function changeBrowserUrl(location) {
        let relativePath = location.pathname;
        // The URL will always start with /apidoc/. Replace this with with /doc/, to match the frontend url.
        window.history.pushState(null, "Apidoc", "/doc/" + relativePath.substring("/apidoc/".length));
    }
</script>
</body>
</html>
